<section>
    <div class="container">
        <div class="row mt-4">
            <div class="d-flex "><a href="/admin/add-products" class="btn btn-success ms-auto">Add Product</a></div>
        </div>
        <table class="table mt-4" id="product-table">
           <thead>
             <tr>
               <th scope="col">No</th>
               <th scope="col">Name</th>
               <th scope="col">category</th>
               <th scope="col">Description</th>
               <th scope="col">Price</th>
               <th scope="col">image</th>
               <th scope="col">option</th>
             </tr>
           </thead>
           <tbody>
            {{#each products}}
             <tr>
               <th scope="row">{{@key}}</th>
               <td>{{this.name}}</td>
               <td>{{this.category}}</td>
               <td>{{this.description}}</td>
               <td>Rs.{{this.Price}}</td>
               <td><img src="/product-images/{{this._id}}.jpg" alt="..img" width="50px" height="50px"></td>
               <td>
                  <a href="/admin/edit-product/{{this._id}}" class="btn btn-success ms-auto">Edit</a>
                  <a href="/admin/delete-products/{{this._id}}" class="btn btn-success ms-auto" onclick="return confirm('Do you need to delete {{name}}?')">Delete</a>
                 <!-- <a href="/admin/delete-products?id={{this._id}}&name=product" class="btn btn-success ms-auto">Delete</a>-->
              </td>
             </tr>
             {{/each}}
           </tbody>
        </table>
         {{#unless products}}
          <div class="pt-5">
             <h3 class="text-center mt-5">Sorry !! No products Found</h3><br>
             <p class="text-center">click below button to add products</p>
             <div class="text-center"><a href="/admin/add-products" class="btn btn-success">Add Product</a></div>
          </div>
         {{/unless}}
    </div>
</section>

<script>
  $(document).ready( function () {//https://datatables.net/manual/installation
    $('#product-table').DataTable();
} );
</script>