<section>
    <div class="container">
    {{#if products}}
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody style="height: 250px;">
        {{#each products}}    
                <tr>
                    <td><img style="width: 90px; height: 90px;" src="/product-images/{{this.product._id}}.jpg" alt="product images">
                    </td>
                    <td class="fs-5">{{this.product.name}}</td>
                    <td class="fs-5">Rs.{{this.product.Price}}</td>
                    <td>
                        <div class="mt-5">
                          <button class="btn btn-primary cart-item-count mr-3 " onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}', -1)">-</button>
                          <span id="{{this.product._id}}">{{this.quantity}}</span>
                          <button class="btn btn-primary cart-item-count mr-3"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}', 1)">+</button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger mt-5" onclick="removeItem('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>
                </tr>
        {{/each}}
            </tbody>
        </table> 
        <div class=" bg-white" style="position: sticky; bottom: 0px;">
            <div class="total-separator"></div>
            <h3 class="float-start  mt-2">Total : Rs.<span id="totalAmount">{{total}}</span></h3><br>
            <a href="/place-order" class="btn btn-success mt-2 w-100 mb-5"><b>Place Order</b></a>
        </div> 
     {{else}}  
         <div class="border border-success border-3" style="margin-top:15rem">
           <div class="mt-4 mb-4">
             <h1 class="text-center">Your cart is empty!</h1><br>
             <p class="text-center fs-2">Add items to it now</p>
             <div class="text-center"><a href="/" class="btn btn-success fs-4 w-25">Shop now</a></div>
           </div>
         </div> 
    {{/if}}  
    </div>
</section>
