<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img style="width: 70px; height: 70px;" src="/product-images/{{this.product._id}}.jpg" alt="product images">
                    </td>
                    <td>{{this.product.name}}</td>
                    <td>{{this.product.Price}}</td>
                    <td>
                        <button class="btn btn-primary cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}', -1)">-</button>
                        {{this.quantity}}
                        <button class="btn btn-primary cart-item-count mr-3"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}', 1)">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
         {{#unless products}}
          <div class="pt-5">
             <h3 class="text-center mt-5">Sorry !! No products Found</h3><br>
             <p class="text-center">click below button to Place order</p>
             <div class="text-center"><a href="/" class="btn btn-success">Place Order</a></div>
          </div>
         {{/unless}}       
    </div>
</section>

<script>
function changeQuantity(userId,cartId,proId,count){
    console.log('change quantity callled on front end')
   // let quantity = parseInt(document.getElementById(productId).innerHTML) 
    count = parseInt(count)
  $.ajax({
    url:'/change-product-quantity',
    data: {
      user:userId,
      cart:cartId,
      product:proId,
      count:count
    },
    method:'post',
    success: (resposne) => {
      alert(resposne)
    }
  })
}
</script>
